body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

#stations {
    width: 200px;
    margin: 0px;
    padding: 10px;
    background-color: lightgray;
}

#search {
    margin: 5px;
    width: 180px;
}

p {
    margin: 5px;
}

#stations_list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    margin: 5px;
    padding: 5px;
    background-color: lightskyblue;
}

li:hover {
    background-color: cadetblue;
}

#station_info {
    max-width: 700px;
}

h2 {
    margin: 15px;
}

table {
    margin: 15px;
    border-collapse: collapse;
}

th {
    padding: 5px;
}

tr {
    border-bottom: 2px solid gray;
}

@media (max-width: 950px) {
    #stations_list, #station {
      flex: 100%;
    }
    #station {
        order: 1
    }
    #stations {
        order: 2
    }
}